@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.toggle-menu-btn i {
  color: whitesmoke;
  font-size: 4vw;
}
.logo-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sunday {
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: 1.8vw;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 1px 0;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 88, 88);
  width: 100%;
  padding: 10px 0;
}
.logo-photo {
  position: relative;
  width: 18%;
}
.logo-div h1 {
  font-family: 'Karla', sans-serif;
  margin: 0;
  color: whitesmoke;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
}

.welcome {
  background-image: url('/assets/Welcome.jpg');
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}

nav {
  position: relative;
  width: 100%;
  height: 20%;
  left: 0;
  background-color: rgb(149, 223, 79);
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}
li a {
  position: relative;
  display: block;
  padding: 15px 15px;
  font-family: 'Karla', sans-serif;
  font-size: 1.9vw;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  background-color: rgb(255, 234, 209);
  position: relative;
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.bot-nav {
  display: none;
  overflow: hidden;
  background-color: rgb(88, 88, 88);
  position: fixed;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 0 15px;
  width: 100%;
  height: 10%;
}
.toggle-menu-btn {
  position: relative;
  border: transparent;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 7vw;
  width: 7vw;
  margin: 0 30px;
  z-index: 100;
}
.toggle-menu-btn i {
  font-size: 50px;
}

@media screen and (max-width: 500px) {
}
@media screen and (max-width: 700px) {
  #sunday {
    font-size: 4vw;
  }
  .logo-div {
    display: flex;
    flex-direction: column;
  }
  .logo-photo {
    width: 33%;
    height: auto;
  }
  .logo-div h1 {
    font-size: 5vw;
  }
  .bot-nav {
    display: flex;
  }
  ul {
    display: none;
  }
}
